* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  .main {
    padding: 10px 25px !important;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 5px 0 !important;
  }
}

.main {
  padding: 10px 125px;
}

:global(.ant-switch.ant-switch-checked) {
  background: linear-gradient(135deg, #ff9f1a, #ff7b00) !important;
}
