DATABASE_URL=

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_TOKEN_SECRET=
JWT_EXPIRE_ACCESS=

JWT_REFRESH_TOKEN_SECRET=
JWT_EXPIRE_REFRESH=

INIT_PASSWORD=

EMAIL_HOST=
EMAIL_APP_PASSWORD=
EMAIL_APP=
EMAIL_PREVIEW=

GRPC_URL_IDENTITY=0.0.0.0:50052
GRPC_URL_PRODUCT=localhost:50051
GRPC_URL_ORDER=localhost:50053
GRPC_URL_MESSAGE=localhost:50054