GRPC_URL_IDENTITY=localhost:50052
GRPC_URL_PRODUCT=localhost:50051
GRPC_URL_ORDER=0.0.0.0:50053

DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=

VNP_TMNCODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_TEST_MODE=
VNP_RETURN_URL=http://localhost:3069/api/v1/payment/vnpay-return

STRIPE_PK=
STRIPE_SK=

REACT_URL=http://localhost:5173/